extends ../layout

block content
  form(action="/patrons/"+patron.id, method="POST")
    label(for="first_name")="First Name"
    input(type="text", name="first_name", id="first_name", placeholder="Jon", required, value=patron.first_name)
    label(for="last_name")="Last Name"
    input(type="text", name="last_name", id="last_name", placeholder="Doe", required, value=patron.last_name)
    label(for="address")="Address"
    input(type="text", name="address", id="address", placeholder="1234 City Street",required, value=patron.address)
    label(for="email")="email"
    input(type="email", name="email", id="email", placeholder="jon.doe@example.com", required, value=patron.email)
    label(for="library_id")="Library ID"
    input(type="text", name="library_id", id="library_id", required, value=patron.library_id)
    label(for="zip_code")="ZIP Code"
    input(type="number", name="zip_code", id="zip_code", placeholder="00000", required, value=patron.zip_code)
    button(type="submit")="Edit Patron"
  table
    thead 
      tr
        td="Book"
        td="Loaned On"
        td="Return By"
        td="Returned On"
        td="Actions"
    tbody
      each loan in loans
        tr
          td: a(href="/books/"+loan.book.id)=loan.book.title
          td=loan.loaned_on
          td=loan.return_by
          td=loan.returned_on
          if loan.returned_on == null
            td: a(href="/loans/return/"+loan.id).button="Return"
          else
            td